<h1>Categories</h1>
<%@categories.each do |category|%>
<div>
  <span>
    <%= category.name%>
  </span>
  <span>
    <%= category.photos_count%>
  </span>
  <span>
    <%= category.description%>
  </span>
</div>
<%end%>
